# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output directories
dist/
build/

# Ignore environment variable files
.env

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python cache directories
__pycache__/

# Ignore other files and directories starting with double underscores
__*/

venv/
django_projects/mysite/mysite/__init__.py
django_projects/polls/__init__.py
*__init__.py